<!DOCTYPE html>
<html>

<head>
  <title>Aplicación</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <!-- Just an image -->
  <div class="wrapper">
         <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="menu">
                  <ul>
                    <li><a  href="/producto/list">Producto</a></li>
                     <li><a href="/admin/compras">Compra</a></li>
                     <li><a href="/registro">registrar</a></li>
                     <li><a href="/login">Logear</a></li>
                  </ul>
               </div>
            </nav>
         </header>
         <div class="content">            
         </div>
      </div>
{{{body}}}
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<script src="/baner.js"></script>
</html>

