<div class="card-deck col-4 m-auto">
  <div class="card">
 <img src="/{{idImag.txtimagen}}.jpg" class="card-img-top" alt="{{idImag.txtimagen}}">
    <div class="card-body">
      <h5 class="card-title">{{idProd.txtproducto}}</h5>
      <h4 class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h4>
    </div>
    <div class="card-footer">
      <small class="text-muted"> <p>Precio : $ {{idProd.precio}}</p></small>
    </div>
  </div>
</div>